nav {
  display: flex;
  justify-content: space-between;
  
  font-size: 2em;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  padding: 0.75em;
  position: fixed;
  top: 0;
}

